.center-home h1,
.cloud-word {
  font-family: var(--font-h1);
  font-weight: var(--font-h1-weight);
}

.center-home h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.center-home h2 {
    font-family: var(--font-h1);
    font-weight: var(--font-h2-weight);
}
.center-home h2 {
  font-size: 1rem;
}